@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("src/fonts/CMUSerif-Roman.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("src/fonts/CMUSerif-Bold.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("src/fonts/CMUSerif-Italic.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("src/fonts/CMUSerif-BoldItalic.woff2");
}
body {
    font-family: "Computer Modern Serif", serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-evenly;
    width: 650px;
}
a {
    color: black;
}
a:hover {
    color: grey;
}
hr {
    border: none;
    height: 2px;
    background-color: black;
}
