@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("src/fonts/CMUSerif-Roman.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("src/fonts/CMUSerif-Bold.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("src/fonts/CMUSerif-Italic.woff2");
}
@font-face {
  font-family: "Computer Modern Serif";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("src/fonts/CMUSerif-BoldItalic.woff2");
}
body {
  font-family: "Computer Modern Serif", serif;
}
